header {
  text-align: center;
  max-width: 144rem;
  margin: 0 auto;
}

#profile_img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

#twitter {
  margin-top: 1rem;
}

#slack {
  display: none;
}
