.contact {
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-title {
  color: inherit;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 1.3rem;
}

.contact-text {
  font-size: 1.6rem;
}
