.contact {
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.contact-title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 1.3rem;
}

.contact-text {
  font-size: 1.6rem;
}
