footer {
  max-width: 92rem;
  margin: 7em auto 3rem auto;
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #667085;
  font-weight: 500;
}

footer img {
  height: 2.3rem;
}

@media (max-width: 37.5em) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }
}
